@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    main {
        margin: auto;
        margin-top: 10px;
        width: 700px;
        height: auto;
    }
}

@media screen and (min-width:992px) {
    main {
        margin: auto;
        margin-top: 10px;
        width: 800px;
        height: auto;
    }
}